* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .col-xs-1 {
    width: 8.3333333333%;
  }
  .col-xs-2 {
    width: 16.6666666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.3333333333%;
  }
  .col-xs-5 {
    width: 41.6666666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.3333333333%;
  }
  .col-xs-8 {
    width: 66.6666666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.3333333333%;
  }
  .col-xs-11 {
    width: 91.6666666667%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
.col-1 {
  max-width: 8.3333333333%;
}

.col-2 {
  max-width: 16.6666666667%;
}

.col-3 {
  max-width: 25%;
}

.col-4 {
  max-width: 33.3333333333%;
}

.col-5 {
  max-width: 41.6666666667%;
}

.col-6 {
  max-width: 50%;
}

.col-7 {
  max-width: 58.3333333333%;
}

.col-8 {
  max-width: 66.6666666667%;
}

.col-9 {
  max-width: 75%;
}

.col-10 {
  max-width: 83.3333333333%;
}

.col-11 {
  max-width: 91.6666666667%;
}

.col-12 {
  max-width: 100%;
}

.fondo {
  background: url("../img/fondo.gif") fixed center/cover;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px auto;
  grid-template-areas: "header" "info";
  margin-bottom: 100px;
}
.container .container__encabezado {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container .container__encabezado .encabezado {
  height: 100px;
  width: 100px;
}
.container .container__info {
  grid-area: info;
  margin-right: 15px;
  margin-left: 15px;
  font-family: Montserrat, sans-serif;
  color: #1D1D1B;
  font-size: 18px;
}
.container .container__info .tittle {
  font-family: Montserrat black, sans-serif;
  font-style: italic;
  color: #3C3C3B;
  font-size: 50px;
  text-align: center;
  margin-bottom: 1rem;
}
.container .container__info .info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
@media screen and (max-width: 992px) {
  .container .container__info .tittle {
    font-size: 29px;
  }
  .container .container__info .info {
    flex-direction: column;
    font-size: 15px;
    align-items: center;
  }
}
.container .container__info .texto {
  margin-bottom: 1rem;
}

.index {
  height: calc(100vh - 83px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.index .img-index {
  width: 500px;
  height: 500px;
}

@media screen and (max-width: 992px) {
  .index {
    height: calc(100vh - 45px);
  }
  .index .img-index {
    width: 250px;
    height: 250px;
  }
}
.info .info__banda {
  padding-right: 15px;
  padding-bottom: 10px;
  vertical-align: baseline;
}
.info .info__integrantes {
  text-align: center;
  padding-left: 15px;
}

@media screen and (max-width: 992px) {
  .info .info__banda {
    width: 100%;
    text-align: center;
    padding-right: 0;
  }
  .info .info__integrantes {
    width: 100%;
    padding-left: 0;
  }
  .info .info__integrantes h3 {
    font-size: 25px;
  }
}
.shows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid 1px;
  margin: auto;
}
.shows .shows__fechas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 1px;
}
.shows .shows__fechas .fecha {
  width: 200px;
  margin: 0;
  align-self: center;
}
.shows .shows__fechas .lugar {
  width: 300px;
  margin: 0;
  align-self: center;
}
.shows .shows__fechas .btn-danger {
  color: #BB1A1A;
}

@media screen and (max-width: 992px) {
  .shows {
    font-size: 15px;
  }
  .shows .shows__fechas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .shows .shows__fechas .fecha, .shows .shows__fechas .lugar, .shows .shows__fechas .btn-danger {
    margin: 0;
  }
}
.info__videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.info__videos .videos {
  padding-right: 15px;
  padding-left: 15px;
  width: 350px;
  height: 197px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 992px) {
  .info__videos .videos {
    width: 300px;
    height: 150px;
  }
}
@media screen and (max-width: 768px) {
  .info__videos .videos {
    padding-right: 0;
    padding-left: 0;
  }
}
.navegador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 5px 10px 5px;
  background-color: #3C3C3B;
}
.navegador .nav {
  font-family: Montserrat medium, sans-serif;
  font-size: 14pt;
}
.navegador .nav .nav__ul {
  padding: 10px;
}
.navegador .nav .nav__ul .nav__li {
  display: inline-block;
  margin: 0px 10px;
}
.navegador .nav .nav__ul .nav__li .nav__link {
  text-decoration: none;
  color: white;
}
.navegador .nav .nav__ul .nav__li .nav__link:hover {
  color: #BB1A1A;
}
.navegador .nav #abrir-menu {
  display: none;
}
.navegador .nav .buttom-menu {
  display: none;
}
.navegador .nav .nav__responsive-ul {
  display: none;
}
.navegador .redes__ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.navegador .redes__ul .redes__li {
  height: 25px;
}
.navegador .redes__ul .redes__li .img-redes {
  margin-right: 5px;
  margin-left: 5px;
}

@media screen and (max-width: 992px) {
  .navegador {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
  }
  .navegador .nav .nav__ul {
    display: none;
  }
  .navegador .nav .buttom-menu {
    display: block;
    left: 0;
    bottom: 0;
    color: white;
    margin: 0 10px;
  }
  .navegador .nav .nav__responsive-ul {
    display: block;
    list-style: none;
    position: fixed;
    bottom: -220px;
    left: 0;
    background: #3C3C3B;
    width: 200px;
    height: 176px;
    padding: 0;
  }
  .navegador .nav .nav__responsive-ul .nav__responsive-li {
    display: block;
    text-align: left;
    margin: 0 10px;
    padding: 10px;
    border-bottom: 1px solid;
  }
  .navegador .nav .nav__responsive-ul .nav__responsive-li .nav__link {
    text-decoration: none;
    color: white;
  }
  .navegador .nav .nav__responsive-ul .nav__responsive-li .nav__link:hover {
    color: #BB1A1A;
  }
  .navegador .nav #abrir-menu:checked ~ .nav__responsive-ul {
    bottom: 0;
    margin-bottom: 45px;
  }
}

/*# sourceMappingURL=styles.css.map */
