
$fuente-texto: Montserrat, sans-serif;
$fuente-navegador: Montserrat medium, sans-serif;

$font-family: Montserrat, sans-serif;

$font-weight-titulos: 900;
$font-weight-navegador: 500;
$font-weight-texto: 400;