* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@import "rejilla";
@import "fondo";
@import "colores";
@import "tipografia";
@import "./estructuras/estructura-general";
@import "./estructuras/index";
@import "./estructuras/bio";
@import "./estructuras/shows";
@import "./estructuras/videos";
@import "./estructuras/nav";
@import "keyframes";
