.info {
    .info__banda {
        padding-right: 15px;
        padding-bottom: 10px;
        vertical-align: baseline;
    }
    .info__integrantes {
        text-align: center;
        padding-left: 15px;
    }
}

@media screen and (max-width: 992px) {
    .info {
        .info__banda{
            width: 100%;
            text-align: center;
            padding-right: 0;
        }
        .info__integrantes {
            width: 100%;
            padding-left: 0;
            h3 {
                font-size: 25px;
            }
        }
    }
}
