.info {
    display: flex;
    flex-direction: row;
    flex: wrap;
    justify-content: center;

    .info__banda {
        padding-right: 15px;
        padding-bottom: 10px;
        vertical-align: baseline;
    }
    .info__integrantes {
        text-align: center;
        padding-left: 15px;
    }
}

@media screen and (max-width: 992px) {
    .info {
        flex-direction: column;
        font-size: 15px;
        align-items: center;

        .info__banda{
            width: 100%;
            text-align: center;
        }
        .info__integrantes {
            width: 100%;
            h3 {
                font-size: 25px;
            }
        }
    }
}
