.index {
    height: calc(100vh - 83px);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .img-index-letras {
        width: 540px;
        height: 132px;
    }
    .img-index-corazon {
        width: 540px;
        height: 408px;

        
        animation-name: latido;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 2s;
    }
}

@media screen and (max-width: 992px) {
    .index {
        height: calc(100vh - 45px);
        .img-index-letras {
            width: 270px;
            height: 66px;
        }
        .img-index-corazon {
            width: 270px;
            height: 204px;
        }
    }
    
}