.navegador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 5px 10px 5px;
    background-color: $color-navegador;

    .nav {
        font-family: $fuente-navegador;
        font-size: 14pt;

        .nav__ul {
            padding: 10px;

            .nav__li {
                display: inline-block;
                margin: 0px 10px;

                .nav__link {
                    text-decoration: none;
                    color: white;
                }
                .nav__link:hover {
                    color: #BB1A1A;
                }
            }
        }

        // Navegador responsive oculto
        
        #abrir-menu {
            display: none;
        }
        .buttom-menu {
            display: none;
        }
        .nav__responsive-ul {
            display: none;
        }
    }

    .redes__ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style-type: none;

        .redes__li {
            height: 25px;

            .img-redes {
                margin-right: 5px;
                margin-left: 5px;
            }
        }
    }

}

@media screen and (max-width: 992px) {
    .navegador {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px;

        .nav {
            // Oculto el otro navegador
            .nav__ul {
                display: none;
            }

            // Aparece boton para el menu responsive
            .buttom-menu {
                display: block;
                left: 0;
                bottom: 0;
                color: white;
                margin: 0 10px;
            }
        
            .nav__responsive-ul {
                display: block;
                list-style: none;
                position: fixed;
                bottom: -220px;
                left: 0;
                background: $color-navegador;
                width: 200px;
                height: 176px;
                padding: 0;

                .nav__responsive-li {
                    display: block;
                    text-align: center;
                    margin: 0 10px;
                    padding: 10px;
                    border-bottom: 1px solid;

                    .nav__link {
                        text-decoration: none;
                        color: white;
                    }
                    .nav__link:hover {
                        color: #BB1A1A;
                    }
                }
            }

            #abrir-menu:checked ~ .nav__responsive-ul {
                bottom: 0;
                margin-bottom: 45px;
        
            }
        }
        
    }
    
}