* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    text-decoration: none;

}

.fondo {
    background: url("../img/fondo.gif") fixed center/cover;
}

.index {
    height: calc(100vh - 78.75px);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-index {
    width:500px;
    height:500px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto;

    grid-template-areas: 
        'header'
        'info';

    margin-bottom: 100px;
}

.container__encabezado {
    grid-area: header;

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 20px;
}

.encabezado {
    height: 100px;
    width: 100px;
}

.container__info {
    grid-area: info;

    margin-right: 15px;
    margin-left: 15px;

    font-family: Montserrat, sans-serif;
    color: #1D1D1B;
    font-size: 18px;
}

.tittle {
    font-family: Montserrat black, sans-serif;
    font-style: italic;
    color: #3C3C3B;
    font-size: 50px;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: row;
    flex: wrap;

    justify-content: center;
}

.info__banda {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    vertical-align: baseline;
}

.info__integrantes {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.negrita {
    font-weight: bold;
}

.bottom-space {
    margin-bottom: 1rem;
}

.shows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid 1px;
}

.shows__fechas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.fecha {
    width: 200px;
    margin: 0;
    align-self: center;
}

.lugar {
    width: 300px;
    margin: 0;
    align-self: center;
}

.btn-danger {
    color: #BB1A1A;
}

.shows__border {
    border-top: solid 1px;
}

.info__videos {
    text-align: center;
    margin: auto;
}

.videos {
    padding-right: 15px;
    padding-left: 15px;

    width: 350px;
    height: 197px;
}

@media screen and (max-width: 992px) {
    .index {
        height: calc(100vh - 50.75px);
    }
    .img-index {
        width:250px;
        height:250px;
    }

    .tittle {
        font-size: 29px;
    }
    .info {
        flex-direction: column;
        font-size: 15px;
        align-items: center;
    }
    .info__banda{
        width: 100%;
        text-align: center;
    }
    .info__integrantes {
        width: 100%;
    }
    .info__integrantes h3{
        font-size: 25px;
    }

    .shows {
        font-size: 15px;
    }
    .shows__fechas {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .fecha, .lugar, .tickets {
        margin: 0;
    }
}

.navegador {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 5px 10px 5px;
    background-color: #3C3C3B;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.redes__li {
    height: 25px;

}

.navbar {
    --bs-navbar-padding-y: 0;
}

.navbar-toggler {
    padding: 10px;
}

@media screen and (max-width: 992px) {
    .navegador {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px;
    }
}

.tamañoRedes {
    margin-right: 5px;
    margin-left: 5px;
}

.nav {
    font-family: Montserrat medium, sans-serif;
    font-size: 14pt;
}

/* MENU NUEVO */

.nav__responsive-ul {
    display: none;
}

.nav__ul {
    padding: 10px;
    background-color: #3C3C3B;
}

.nav__li {
    display: inline-block;
    margin: 0px 10px;
}

.nav__link {
    text-decoration: none;
    color: white;
}
.nav__link:hover {
    color: #BB1A1A;
}

#abrir-menu {
    display: none;
}


.buttom-menu {
    display: none;
}

/* ----------------------- */
@media screen and (max-width: 992px) {
    .nav__ul {
        display: none;
    }
    .nav__responsive-ul {
        display: block;
        list-style: none;
        position: fixed;
        bottom: -220px;
        left: 0;
        background: #3C3C3B;
        width: 200px;
        height: 176px;
        padding: 0;
    
        /*
        margin-bottom: 51px; PONERSELO al apretar en el menu
        */
    }
    
    .nav__responsive-li {
        display: block;
        text-align: center;
        margin: 0 10px;
        padding: 10px;
        border-bottom: 1px solid;
    }
    
    #abrir-menu:checked ~ .nav__responsive-ul {
        bottom: 0;
        margin-bottom: 45px;
    
    } 
    
    .buttom-menu {
        display: block;
        left: 0;
        color: white;
        margin: 0 10px;
    }
}